body{
  font-family: 'Open Sans', sans-serif !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)),url(./asset/img/hotdogs.jpg);
  background-position: center;
  background-attachment: fixed;
}

.text-slanted {
  font-family: 'Marck Script', cursive;
}

